.me-end .fw-bold{
    color: white;
    
    
    
    
}

#head{

    font-size: large;
    font-weight: bolder;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px;
   
}
.me-end:hover {
    cursor: pointer;
    
}
.hor{
    padding: 6px;
}


.hor:hover{
    border: 1px solid white;
    
    

}
